// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project
$primary: #31692b;
$primary-variant: #525f07;
$secondary: #b0cc10;
$tertiary: #d5e388; /* 64* */

